@page
@model RecruitCatShigavkp.Pages.Candidates.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Candidate Details</h1>

<p>
    <a asp-page="Create" style="text-decoration: none">Add Candidate Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].candidateFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].candidateLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].targetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].emailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].mobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Candidate[0].Industry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Candidate) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.candidateFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.candidateLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.targetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileNumber)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Company.companyName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Jobtitle.titleName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Industry.industryType)
            </td>
            <td>
                    <a asp-page="./Edit" style="text-decoration: none" asp-route-id="@item.candidateId">Edit Candidate Details</a> |
                    <a asp-page="./Details" style="text-decoration: none" asp-route-id="@item.candidateId">View Candidate Details</a> |
                    <a asp-page="./Delete" style="text-decoration: none" asp-route-id="@item.candidateId">Remove Candidate Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
