@page
@model RecruitCatShigavkp.Pages.Industrys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Industry Details</h1>

<p>
    <a asp-page="Create" style="text-decoration: none">Add Industry Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].industryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].industryType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Industry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.industryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.industryType)
            </td>
            <td>
                    <a asp-page="./Edit" style="text-decoration: none" asp-route-id="@item.industryId">Edit Industry Details</a> |
                    <a asp-page="./Details" style="text-decoration: none" asp-route-id="@item.industryId">View Industry Details</a> |
                    <a asp-page="./Delete" style="text-decoration: none" asp-route-id="@item.industryId">Remove Industry Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
